.SongControls {
    display: flex;
    width: 100%;
}

.left,
.center,
.right {
    display: flex;
    align-items: center;
}

.left {
    flex: 30%;
}

.center {
    flex: 40%;
    justify-content: center;
}

.right {
    flex: 30%;
}