.SongControls {
    border: 1px solid white;
    display: flex;
    width: 100%;
}

.SongControls > * {
    border: 1px solid yellow;
}

.left,
.center,
.right {
    display: flex;
    align-items: center;
}

.left {
    flex: 30%;
}

.center {
    flex: 40%;
    justify-content: center;
}

.right {
    flex: 30%;
}