.UpNext {
    width: inherit;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.4rem;
    padding: 0.5rem;
    background: rgb(63, 63, 63);
    box-shadow: 0 4px 5px 0px black;
}

header h2 {
    margin-right: 0.3rem;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    font-size: 20px;
    font-weight: 500;
}